openapi: 3.0.0
info:
  contact:
    email: me@ruby.js.org
    name: Unofficial VRChat API Documentation Project
    url: https://github.com/VRChatAPI
  description: |-
    ![VRChat API Banner](https://vrchatapi.github.io/assets/img/api_banner_1500x400.png)

    # Welcome to the VRChat API

    Before we begin, we would like to state this is a **COMMUNITY DRIVEN PROJECT**.
    This means that everything you read on here was written by the community itself and is **not** officially supported by VRChat.
    The documentation is provided "AS IS", and any action you take towards VRChat is completely your own responsibility.

    The documentation and additional libraries SHALL ONLY be used for applications interacting with VRChat's API in accordance
    with their [Terms of Service](https://github.com/VRChatAPI), and MUST NOT be used for modifying the client, "avatar ripping", or other illegal activities.
    Malicious usage or spamming the API may result in account termination.
    Certain parts of the API are also more sensitive than others, for example moderation, so please read tread extra carefully and read the warnings when present.

    ![Tupper Policy on API](https://i.imgur.com/yLlW7Ok.png)

    Finally, use of the API using applications other than the approved methods (website, VRChat application, Unity SDK) is not officially supported.
    VRChat provides no guarantee or support for external applications using the API. Access to API endpoints may break **at any time, without notice**.
    Therefore, please **do not ping** VRChat Staff in the VRChat Discord if you are having API problems, as they do not provide API support.
    We will make a best effort in keeping this documentation and associated language libraries up to date, but things might be outdated or missing.
    If you find that something is no longer valid, please contact us on Discord or [create an issue](https://github.com/vrchatapi/specification/issues) and tell us so we can fix it.

    # Getting Started

    The VRChat API can be used to programmatically retrieve or update information regarding your profile, friends, avatars, worlds and more.
    The API consists of two parts, "Photon" which is only used in-game, and the "Web API" which is used by both the game and the website.
    This documentation focuses only on the Web API.

    The API is designed around the REST ideology, providing semi-simple and usually predictable URIs to access and modify objects.
    Requests support standard HTTP methods like GET, PUT, POST, and DELETE and standard status codes.
    Response bodies are always UTF-8 encoded JSON objects, unless explicitly documented otherwise.

    <div class="callout callout-error">
      <strong>🛑 Warning! Do not touch Photon!</strong><br>
      Photon is only used by the in-game client and should <b>not</b> be touched. Doing so may result in permanent account termination.
    </div>

    <div class="callout callout-info">
      <strong>ℹ️ API Key and Authentication</strong><br>
      The API Key has always been the same and is currently <code>JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26</code>.
      Read <a href="#tag--authentication">Authentication</a> for how to log in.
    </div>

    # Using the API

    For simply exploring what the API can do it is strongly recommended to download [Insomnia](https://insomnia.rest/download), a free and open-source
    API client that's great for sending requests to the API in an orderly fashion.
    Insomnia allows you to send data in the format that's required for VRChat's API.
    It is also possible to try out the API in your browser, by first logging in at [vrchat.com/home](https://vrchat.com/home/) and then going to
    [vrchat.com/api/1/auth/user](https://vrchat.com/api/1/auth/user), but the information will be much harder to work with.

    For more permanent operation such as software development it is instead recommended to use one of the existing language SDKs.
    This community project maintains API libraries in several languages, which allows you to interact with the API with simple function calls
    rather than having to implement the HTTP protocol yourself. Most of these libraries are automatically generated from the API specification,
    sometimes with additional helpful wrapper code to make usage easier. This allows them to be almost automatically updated and expanded upon
    as soon as a new feature is introduced in the specification itself. The libraries can be found on [GitHub](https://github.com/vrchatapi) or following:

    * [NodeJS (JavaScript)](https://www.npmjs.com/package/vrchat)
    * [Dart](https://pub.dev/packages/vrchat_dart)
    * [Rust](https://crates.io/crates/vrchatapi)
    * [C#](github.com/vrchatapi/vrchatapi-csharp)
    * [Python](https://github.com/vrchatapi/VRChatPython)

    # Pagination

    Most endpoints enforce pagination, meaning they will only return 10 entries by default, and never more than 100.<br>
    Using both the limit and offset parameters allows you to easily paginate through a large number of objects.

    | Query Parameter | Type | Description |
    | ----------|--|------- |
    | `limit` | integer  | The number of objects to return. This value often defaults to 10. Highest limit is always 100.|
    | `offset` | integer  | A zero-based offset from the default object sorting.|

    If a request returns fewer objects than the `limit` parameter, there are no more items available to return.

    # Contribution

    Do you want to get involved in the documentation effort? Do you want to help improve one of the language API libraries?
    This project is an [OPEN Open Source Project](https://openopensource.org)! This means that individuals making significant and valuable contributions are given
    commit-access to the project. It also means we are very open and welcoming of new people making contributions, unlike some more guarded open-source projects.

    [![Discord](https://img.shields.io/static/v1?label=vrchatapi&message=discord&color=blueviolet&style=for-the-badge)](https://discord.gg/qjZE9C9fkB)
  license:
    name: The MIT License (MIT)
    url: https://github.com/vrchatapi/specification/blob/master/LICENSE
  termsOfService: https://vrchat.com/legal/
  title: VRChat API Documentation
  version: 1.0.1
servers:
- url: https://api.vrchat.cloud/api/1
tags:
- name: authentication
- name: avatars
- name: favorites
- name: files
- name: friends
- name: notifications
- name: playermoderation
- name: system
- name: users
- name: worlds
paths:
  /auth:
    get:
      description: Verify whether the currently provided Auth Token is valid.
      operationId: verifyAuthToken
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Verify Auth Token
      tags:
      - authentication
      x-accepts: application/json
  /logout:
    put:
      description: Invalidates the auth cookie.
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              examples:
                Logout Success:
                  value:
                    success:
                      message: Ok!
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
      - authCookie: []
      summary: Logout
      tags:
      - authentication
      x-accepts: application/json
  /auth/user:
    get:
      description: |-
        Login and/or Get user data from your VRChat account.

        If `Authorization` header is present then a new login session will be generated, and a new `auth` cookie is returned.

        **WARNING: Session Limit:** Each authentication with login credentials counts as a separate session, out of which you have a limited amount. Make sure to save and reuse the `auth` cookie whenever you can, and avoid sending the Authorization header unless strictly neccesary. While the exact number of simultaneous open sessions is secret, expect to **very fast** run into the rate-limit and be temporarily blocked from making new sessions until the old ones expire.
      operationId: getCurrentUser
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: OK
          headers:
            Set-Cookie:
              description: Authenticating returns an `auth` cookie.
              explode: false
              schema:
                example: auth=authcookie_00000000-0000-0000-0000-000000000000; Expires=Tue,
                  01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - authHeader: []
      - authHeader: []
        twoFactorAuthCookie: []
      - authCookie: []
      summary: Login and/or Get Current User Info
      tags:
      - authentication
      x-accepts: application/json
  /auth/twofactorauth/totp/verify:
    post:
      description: Finishes the login sequence with a normal 2FA-generated code for
        accounts with 2FA-protection enabled.
      operationId: verify2FA
      parameters: []
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/json:
            examples: {}
            schema:
              properties:
                code:
                  type: string
              required:
              - code
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
          headers:
            Set-Cookie:
              description: Provides a `twoFactorAuth` cookie, which can be used to
                bypasses the 2FA requirement for future logins on the same device.
              explode: false
              schema:
                example: twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;
                  Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code
      tags:
      - authentication
      x-contentType: application/json
      x-accepts: application/json
  /auth/twofactorauth/otp/verify:
    post:
      description: Finishes the login sequence with an OTP (One Time Password) recovery
        code for accounts with 2FA-protection enabled.
      operationId: verifyRecoveryCode
      requestBody:
        $ref: '#/components/requestBodies/inline_object_1'
        content:
          application/json:
            examples: {}
            schema:
              properties:
                code:
                  type: string
              required:
              - code
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
          description: OK
          headers:
            Set-Cookie:
              description: Provides a `twoFactorAuth` cookie, which can be used to
                bypasses the 2FA requirement for future logins on the same device.
              explode: false
              schema:
                example: twoFactorAuth=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;
                  Expires=Tue, 01 Jan 2030 00:00:00 GMT; Path=/; HttpOnly
                type: string
              style: simple
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - authCookie: []
      summary: Verify 2FA code with Recovery code
      tags:
      - authentication
      x-contentType: application/json
      x-accepts: application/json
  /user/{userId}/delete:
    put:
      description: |-
        Deletes the account with given ID. Normal users only have permission to delete their own account. Account deletion is 14 days from this request, and will be cancelled if you do an authenticated request with the account afterwards.

        **VRC+ NOTE:** Despite the 14-days cooldown, any VRC+ subscription will be cancelled **immediately**.

        **METHOD NOTE:** Despite this being a Delete action, the method type required is PUT.
      operationId: deleteUserById
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Delete User
      tags:
      - authentication
      x-accepts: application/json
  /users:
    get:
      description: Search and list any users by text query
      operationId: searchUsers
      parameters:
      - description: Searches by `displayName`. Will return empty array if search
          query is empty or missing.
        explode: true
        in: query
        name: search
        required: false
        schema:
          minLength: 0
          type: string
        style: form
      - description: Active user by developer type, none for normal users and internal
          for moderators
        explode: true
        in: query
        name: developerType
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedUser'
                type: array
          description: OK
        "400":
          content:
            application/json:
              examples:
                "400 N is too low":
                  value:
                    error:
                      message: n must be a positive integer˸ '-1'
                      status_code: 400
                "400 N is too high":
                  value:
                    error:
                      message: n＝1000 is much too high․ implement paging you savages․
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to search list of users with an
            invalid request.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Search All Users
      tags:
      - users
      x-accepts: application/json
  /users/{username}/name:
    get:
      description: Get public user information about a specific user using their name.
      operationId: getUserByName
      parameters:
      - explode: false
        in: path
        name: username
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Get User by Username
      tags:
      - users
      x-accepts: application/json
  /users/{userId}:
    get:
      description: Get public user information about a specific user using their ID.
      operationId: getUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Get User by ID
      tags:
      - users
      x-accepts: application/json
    put:
      description: Update a users information such as the email and birthday.
      operationId: updateUser
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_2'
        content:
          application/json:
            schema:
              properties:
                email:
                  type: string
                birthday:
                  format: date
                  type: string
                acceptedTOSVersion:
                  type: number
                tags:
                  items:
                    $ref: '#/components/schemas/Tag'
                  type: array
                status:
                  $ref: '#/components/schemas/UserStatus'
                statusDescription:
                  type: string
                bio:
                  minLength: 0
                  type: string
                bioLinks:
                  items:
                    type: string
                  type: array
                userIcon:
                  description: MUST be a valid VRChat /file/ url.
                  example: https://api.vrchat.cloud/api/1/file/file_76dc2964-0ce8-41df-b2e7-8edf994fee31/1
                  minLength: 0
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentUser'
          description: OK
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Update User Info
      tags:
      - users
      x-contentType: application/json
      x-accepts: application/json
  /users/active:
    get:
      deprecated: true
      description: |-
        Search and list any Active users by text query.

        **Has been locked down and now always respond with "Invalid Admin Credentials".**
      operationId: searchActiveUsers
      parameters:
      - description: Username to search for
        explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - description: Active user by developer type, none for normal users and internal
          for moderators
        explode: true
        in: query
        name: developerType
        required: false
        schema:
          type: string
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedUser'
                type: array
          description: OK
        "403":
          content:
            application/json:
              examples:
                Invalid Admin Credentials Example:
                  value:
                    error:
                      message: '"Invalid Admin Credentials"'
                      status_code: 403
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing Administrator credentials.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Search Active Users
      tags:
      - users
      x-accepts: application/json
  /health:
    get:
      description: Gets the overall health status, the server name, and the current
        build version tag of the API.
      operationId: getHealth
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Response:
                  value:
                    ok: true
                    serverName: prod-api-green-marsh-dgt
                    buildVersionTag: master-build-2021-06-24-fred-drakeshoot
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
          description: API's Health
      security: []
      summary: Check API Health
      tags:
      - system
      x-accepts: application/json
  /config:
    get:
      description: |-
        API config contains configuration that the clients needs to work properly.

        Currently the most important value here is `clientApiKey` which is used for all other API endpoints.
      operationId: getConfig
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Config'
          description: OK
          headers:
            Set-Cookie:
              explode: false
              schema:
                example: apiKey=JlE5Jldo5Jibnk5O5hTx6XVqsJu4WJ26; Path=/
                type: string
              style: simple
      security: []
      summary: Fetch API Config
      tags:
      - system
      x-accepts: application/json
  /visits:
    get:
      description: |-
        Returns in plain format the number of currently online users.

        **NOTE:** The response type is not of JSON, but is an integer in plain ASCII format.
      operationId: getCurrentOnlineUsers
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: Number of online users
                example: 12345
                minimum: 0
                readOnly: true
                type: integer
          description: OK
      security: []
      summary: Current Online Users
      tags:
      - system
      x-accepts: text/plain
  /time:
    get:
      description: |-
        Returns in plain format the current time of the API server.

        **NOTE:** The response type is not of JSON, but is a string in plain ASCII format.
      operationId: getSystemTime
      responses:
        "200":
          content:
            text/plain:
              schema:
                description: Does not return millisecond precision. Always returns
                  time in UTC.
                example: 2021-08-20T12:38:42Z
                format: date-time
                type: string
          description: OK
      security: []
      summary: Current System Time
      tags:
      - system
      x-accepts: text/plain
  /auth/user/friends:
    get:
      description: List information about friends.
      operationId: getFriends
      parameters:
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: Returns *only* offline users if true, returns only online and
          active users if false
        explode: true
        in: query
        name: offline
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedUser'
                type: array
          description: OK
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: List Friends
      tags:
      - friends
      x-accepts: application/json
  /user/{userId}/friendStatus:
    get:
      description: Retrieve if the user is currently a friend with a given user, if
        they have an outgoing friend request, and if they have an incoming friend
        request. The proper way to receive and accept friend request is by checking
        if the user has an incoming `Notification` of type `friendRequest`, and then
        accepting that notification.
      operationId: getFriendStatus
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Response:
                  value:
                    isFriend: false
                    outgoingRequest: false
                    incomingRequest: false
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
          description: Friend Status
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Check Friend Status
      tags:
      - friends
      x-accepts: application/json
  /user/{userId}/friendRequest:
    delete:
      description: Deletes an outgoing pending friend request to another user. To
        delete an incoming friend request, use the `deleteNotification` endpoint instead.
      operationId: deleteFriendRequest
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Deleted Friend Request:
                  value:
                    success:
                      message: Friendship request deleted
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after cancelling a friend request.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Delete Friend Request":
                  value:
                    error:
                      message: that friend request could not be found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete a non-existent friend-request.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Delete Friend Request
      tags:
      - friends
      x-accepts: application/json
    post:
      description: Send a friend request to another user.
      operationId: friend
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    senderUsername: tupper
                    type: friendRequest
                    message: ""
                    details: '{}'
                    seen: false
                    created_at: 2021-01-01T00:00:00.000Z
              schema:
                $ref: '#/components/schemas/Notification'
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 User Doesn't Exist Response":
                  value:
                    error:
                      message: user doesn't existǃ
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to send a friend request to a user
            which doesn't exist.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Send Friend Request
      tags:
      - friends
      x-accepts: application/json
  /auth/user/friends/{userId}:
    delete:
      description: Unfriend a user by ID.
      operationId: unfriend
      parameters:
      - explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Friendship destroyed
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after unfriending a user.
        "400":
          content:
            application/json:
              examples:
                "400 Not Friends Response":
                  value:
                    error:
                      message: These users are not friends
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to unfriend someone who is not a
            friend.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Unfriend
      tags:
      - friends
      x-accepts: application/json
  /auth/user/notifications:
    get:
      description: Retrieve all of the current user's notifications.
      operationId: getNotifications
      parameters:
      - description: Only send notifications of this type (can use `all` for all).
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: all
          type: string
        style: form
      - deprecated: true
        description: Return notifications sent by the user. Must be false or omitted.
        explode: true
        in: query
        name: sent
        required: false
        schema:
          type: boolean
        style: form
      - description: Whether to return hidden or non-hidden notifications. True only
          allowed on type `friendRequest`.
        explode: true
        in: query
        name: hidden
        required: false
        schema:
          type: boolean
        style: form
      - description: Only return notifications sent after this Date. Ignored if type
          is `friendRequest`.
        explode: true
        in: query
        name: after
        required: false
        schema:
          example: five_minutes_ago
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Notification'
                type: array
          description: Returns a list of Notifcation objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: List Notifications
      tags:
      - notifications
      x-accepts: application/json
  /auth/user/notifications/{notificationId}/see:
    put:
      description: Mark a notification as seen.
      operationId: markNotificationAsRead
      parameters:
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    senderUsername: tupper
                    type: friendRequest
                    message: ""
                    details: '{}'
                    seen: false
                    created_at: 2021-01-01T00:00:00.000Z
              schema:
                $ref: '#/components/schemas/Notification'
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Mark As Read
      tags:
      - notifications
      x-accepts: application/json
  /auth/user/notifications/{notificationId}/hide:
    put:
      description: Delete a notification.
      operationId: deleteNotification
      parameters:
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Friend Request Response:
                  value:
                    id: frq_00000000-0000-0000-0000-000000000000
                    senderUserId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    senderUsername: tupper
                    type: friendRequest
                    message: ""
                    details: '{}'
                    seen: false
                    created_at: 2021-01-01T00:00:00.000Z
              schema:
                $ref: '#/components/schemas/Notification'
          description: Returns a single Notifcation object.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Delete Notification
      tags:
      - notifications
      x-accepts: application/json
  /auth/user/notifications/{notificationId}/accept:
    put:
      description: Accept a friend request by notification `frq_` ID. Friend requests
        can be found using the NotificationsAPI `getNotifications` by filtering of
        type `friendRequest`.
      operationId: acceptFriendRequest
      parameters:
      - explode: false
        in: path
        name: notificationId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Ok
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after friending a user.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
        "404":
          content:
            application/json:
              examples:
                "404 Accept Friend Request":
                  value:
                    error:
                      message: that friend request could not be found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to accept a non-existent friend
            request.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Accept Friend Request
      tags:
      - notifications
      x-accepts: application/json
  /auth/user/notifications/clear:
    put:
      description: Clear **all** notifications.
      operationId: clearNotifications
      responses:
        "200":
          content:
            application/json:
              examples:
                Unfriend Success:
                  value:
                    success:
                      message: Ok
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after clearing all notifications.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Clear All Notifications
      tags:
      - notifications
      x-accepts: application/json
  /files:
    get:
      description: Returns a list of files
      operationId: getFiles
      parameters:
      - description: Tag, for example "icon" or "gallery", not included by default.
        explode: true
        in: query
        name: tag
        required: false
        schema:
          minLength: 1
          type: string
        style: form
      - deprecated: true
        description: UserID, will always generate a 500 permission error.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/File'
                type: array
          description: Returns a list of File objects.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: List Files
      tags:
      - files
      x-accepts: application/json
  /file:
    post:
      description: Creates a new File object
      operationId: createFile
      requestBody:
        $ref: '#/components/requestBodies/inline_object_3'
        content:
          application/json:
            schema:
              properties:
                name:
                  minLength: 0
                  type: string
                mimeType:
                  $ref: '#/components/schemas/MIMEType'
                extension:
                  minLength: 1
                  type: string
                tags:
                  items:
                    $ref: '#/components/schemas/Tag'
                  type: array
              required:
              - extension
              - mimeType
              - name
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Create File
      tags:
      - files
      x-contentType: application/json
      x-accepts: application/json
  /file/{fileId}:
    delete:
      description: Deletes a File object.
      operationId: deleteFile
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                File Deleted Success:
                  value:
                    success:
                      message: File deleted
                      status_code: 200
              schema:
                $ref: '#/components/schemas/Success'
          description: Successful response after deleting a File.
        "404":
          content:
            application/json:
              examples:
                File Deleted Error:
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete a non-existent file.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Delete File
      tags:
      - files
      x-accepts: application/json
    get:
      description: Shows general information about the "File" object. Each File can
        have several "Version"'s, and each Version can have multiple real files or
        "Data" blobs.
      operationId: getFile
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
        "404":
          content:
            application/json:
              examples:
                "404 File Not Found":
                  value:
                    error:
                      message: File 'file_ce35d830-e20a-4df0-a6d4-5aaef4508044' not
                        found
                      status_code: 404
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to show information about a non-existent
            file.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Show File
      tags:
      - files
      x-accepts: application/json
    post:
      description: Creates a new FileVersion. Once a Version has been created, proceed
        to the `/file/{fileId}/{versionId}/file/start` endpoint to start a file upload.
      operationId: createFileVersion
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_4'
        content:
          application/json:
            schema:
              properties:
                signatureMd5:
                  minLength: 1
                  type: string
                signatureSizeInBytes:
                  type: number
                fileMd5:
                  minLength: 1
                  type: string
                fileSizeInBytes:
                  type: number
              required:
              - signatureMd5
              - signatureSizeInBytes
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Create File Version
      tags:
      - files
      x-contentType: application/json
      x-accepts: application/json
  /file/{fileId}/{versionId}:
    delete:
      description: Delete a specific version of a file. You can only delete the latest
        version.
      operationId: deleteFileVersion
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
        "400":
          content:
            application/json:
              examples:
                "400 Delete Initial File Version":
                  value:
                    error:
                      message: Cannot delete the initial version of the file‚ just
                        delete the entire file record․
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete the initial version of
            a file. Delete the main File object instead.
        "500":
          content:
            application/json:
              examples:
                "409/500 Delete Non-Last File Version":
                  value:
                    error:
                      message: 409 Cannot delete against anything but the latest version
                        of this file˸ 1‚ 11
                      status_code: 500
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to delete any version of a file
            that is not hte last one.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Delete File Version
      tags:
      - files
      x-accepts: application/json
    get:
      description: |-
        Downloads the file with the provided version number.

        **Version Note:** Version 0 is always when the file was created. The real data is usually always located in version 1 and up.

        **Extension Note:** Files are not guaranteed to have a file extensions. UnityPackage files tends to have it, images through this endpoint do not. You are responsible for appending file extension from the `extension` field when neccesary.
      operationId: downloadFileVersion
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      responses:
        "200":
          description: Raw file
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Download File Version
      tags:
      - files
      x-accepts: application/json
  /file/{fileId}/{versionId}/{fileType}/status:
    get:
      description: Retrieves the upload status for file upload. Can currently only
        be accessed when `status` is `waiting`. Trying to access it on a file version
        already uploaded currently times out.
      operationId: getFileDataUploadStatus
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - explode: false
        in: path
        name: fileType
        required: true
        schema:
          enum:
          - file
          - signature
          - delta
          example: file
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Access Key:
                  value:
                    uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx
                    fileName: Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                    nextPartNumber: 0
                    maxParts: 1000
                    parts: []
                    etags: []
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
          description: Current FileVersion upload status. Contains the uploadId needed
            for uploading, as well as the already uploaded parts.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Check FileData Upload Status
      tags:
      - files
      x-accepts: application/json
  /file/{fileId}/{versionId}/{fileType}/start:
    put:
      description: |-
        Starts an upload of a specific FilePart. This endpoint will return an AWS URL which you can PUT data to. You need to call this and receive a new AWS API URL for each `partNumber`. Please see AWS's REST documentation on "PUT Object to S3" on how to upload. Once all parts has been uploaded, proceed to `/finish` endpoint.

        **Note:** `nextPartNumber` seems like it is always ignored. Despite it returning 0, first partNumber is always 1.
      operationId: startFileDataUpload
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - explode: false
        in: path
        name: fileType
        required: true
        schema:
          enum:
          - file
          - signature
          - delta
          example: file
          type: string
        style: simple
      - explode: true
        in: query
        name: partNumber
        required: true
        schema:
          example: 1
          minimum: 0
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Response:
                  value:
                    url: https://s3.amazonaws.com/files.vrchat.cloud/Avatar-MyAvatar-Un.file_00000000-0000-0000-0000-000000000000.1.unitypackage?AWSAccessKeyId=XXXXXXXXXXXXXXXXXXXX&Expires=1626028518&Signature=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx&partNumber=1&uploadId=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx..xxxxxxxxxxxxxxxxxxxxxxx
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
          description: See [https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutObject.html](AWS
            REST docs - PUT Object)
        "400":
          content:
            application/json:
              examples:
                Tried To Upload Against Already Finished Version:
                  value:
                    error:
                      message: Cannot upload against a complete version entry․ Create
                        a new version of this file before uploading․
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to start an upload against a FileVersion
            that is already marked as  `complete`.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Start FileData Upload
      tags:
      - files
      x-accepts: application/json
  /file/{fileId}/{versionId}/{fileType}/finish:
    put:
      description: Finish an upload of a FileData. This will mark it as "complete".
        After uploading the `file` for Avatars and Worlds you then have to upload
        a `signature` file.
      operationId: finishFileDataUpload
      parameters:
      - explode: false
        in: path
        name: fileId
        required: true
        schema:
          example: file_00000000-0000-0000-0000-000000000000
          pattern: file_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}
          type: string
        style: simple
      - explode: false
        in: path
        name: versionId
        required: true
        schema:
          example: 1
          minimum: 1
          type: integer
        style: simple
      - explode: false
        in: path
        name: fileType
        required: true
        schema:
          enum:
          - file
          - signature
          - delta
          example: file
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object_5'
        content:
          application/json:
            examples:
              Example Request:
                value:
                  etags:
                  - xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  - yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
                  nextPartNumber: "0"
                  maxParts: "0"
            schema:
              properties:
                etags:
                  description: Array of ETags uploaded.
                  items:
                    type: string
                  minItems: 1
                  type: array
                  uniqueItems: true
                nextPartNumber:
                  default: "0"
                  deprecated: true
                  description: Always a zero in string form, despite how many parts
                    uploaded.
                  example: "0"
                  maxLength: 1
                  minLength: 1
                  pattern: "0"
                  type: string
                maxParts:
                  default: "0"
                  deprecated: true
                  description: Always a zero in string form, despite how many parts
                    uploaded.
                  example: "0"
                  maxLength: 1
                  minLength: 1
                  pattern: "0"
                  type: string
              required:
              - maxParts
              - nextPartNumber
              type: object
        description: |-
          Please see documentation on ETag's:
          [https://teppen.io/2018/06/23/aws_s3_etags/](https://teppen.io/2018/06/23/aws_s3_etags/)

          ETag's should NOT be present when uploading a `signature`.
      responses:
        "200":
          content:
            application/json:
              examples:
                Example Avatar File:
                  value:
                    id: file_00000000-0000-0000-0000-000000000000
                    name: Avatar - Test Avatar - Unity package - 2017․4․28f1_3_standalonewindows_Release
                    ownerId: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                    mimeType: application/gzip
                    extension: .unitypackage
                    tags: []
                    versions:
                    - version: 0
                      status: complete
                      created_at: 2019-08-15T11:04:37.910Z
                    - version: 1
                      status: complete
                      created_at: 2019-08-15T11:04:49.702Z
                      file:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage
                        md5: xxxxxxxxxxxxxxxxxxx==
                        sizeInBytes: 303055180
                        status: complete
                        category: multipart
                        uploadId: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                      delta:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.delta
                        md5: ""
                        sizeInBytes: 0
                        status: none
                        category: queued
                        uploadId: ""
                      signature:
                        fileName: Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        url: https://s3.us-east-1.amazonaws.com/files.vrchat.cloud/Avatar-Test-Avatar-Unity.file_00000000-0000-0000-0000-000000000000.1.unitypackage.signature
                        md5: xxxxxxxxxxxxxxxx==
                        sizeInBytes: 532748
                        status: complete
                        category: simple
                        uploadId: ""
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a single File object.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Finish FileData Upload
      tags:
      - files
      x-contentType: application/json
      x-accepts: application/json
  /worlds:
    get:
      description: Search and list any worlds by query filters.
      operationId: searchWorlds
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: popularity
          description: How to sort
          enum:
          - popularity
          - heat
          - trust
          - shuffle
          - random
          - favorites
          - reportScore
          - reportCount
          - publicationDate
          - labsPublicationDate
          - created
          - _created_at
          - updated
          - _updated_at
          - order
          - relevance
          - magic
          - name
          example: popularity
          title: SortOptions
          type: string
        style: form
      - description: Set to `me` for searching own worlds.
        explode: true
        in: query
        name: user
        required: false
        schema:
          enum:
          - me
          type: string
        style: form
      - description: Filter by author UserID
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          default: descending
          description: Result ordering
          enum:
          - ascending
          - descending
          example: descending
          title: OrderOptions
          type: string
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated).
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          default: hidden
          enum:
          - public
          - private
          - hidden
          example: hidden
          type: string
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedWorld'
                type: array
          description: Returns a list of LimitedWorld objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: Search All Worlds
      tags:
      - worlds
      x-accepts: application/json
    post:
      description: Create a new world. This endpoint requires `assetUrl` to be a valid
        File object with `.vrcw` file extension, and `imageUrl` to be a valid File
        object with an image file extension.
      operationId: createWorld
      requestBody:
        $ref: '#/components/requestBodies/inline_object_6'
        content:
          application/json:
            schema:
              properties:
                assetUrl:
                  minLength: 1
                  type: string
                assetVersion:
                  minLength: 1
                  type: string
                authorId:
                  example: usr_c1644b5b-3ca4-45b4-97c6-a2a0de70d469
                  readOnly: true
                  title: UserID
                  type: string
                authorName:
                  minLength: 1
                  type: string
                capacity:
                  default: 16
                  example: 16
                  maximum: 40
                  minimum: 1
                  type: integer
                description:
                  type: string
                id:
                  example: wrld_ba913a96-fac4-4048-a062-9aa5db092812
                  pattern: (^$|offline|(wrld|wld)_[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12})
                  title: WorldID
                  type: string
                imageUrl:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                platform:
                  $ref: '#/components/schemas/Platform'
                releaseStatus:
                  $ref: '#/components/schemas/ReleaseStatus'
                tags:
                  items:
                    $ref: '#/components/schemas/Tag'
                  type: array
                unityPackageUrl:
                  minLength: 1
                  type: string
                unityVersion:
                  default: 5.3.4p1
                  example: 2018.4.20f1
                  minLength: 1
                  type: string
              required:
              - assetUrl
              - imageUrl
              - name
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/World'
          description: Returns a single World object.
        "400":
          content:
            application/json:
              examples:
                "400 Can't Create World Yet":
                  value:
                    error:
                      message: \"You can't create a world right now\"
                      status_code: 400
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying create a world without having the
            neccesary Trust rank yet.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      summary: Create World
      tags:
      - worlds
      x-contentType: application/json
      x-accepts: application/json
  /worlds/active:
    get:
      description: Search and list currently Active worlds by query filters.
      operationId: getActiveWorlds
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: popularity
          description: How to sort
          enum:
          - popularity
          - heat
          - trust
          - shuffle
          - random
          - favorites
          - reportScore
          - reportCount
          - publicationDate
          - labsPublicationDate
          - created
          - _created_at
          - updated
          - _updated_at
          - order
          - relevance
          - magic
          - name
          example: popularity
          title: SortOptions
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          default: descending
          description: Result ordering
          enum:
          - ascending
          - descending
          example: descending
          title: OrderOptions
          type: string
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated).
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          default: hidden
          enum:
          - public
          - private
          - hidden
          example: hidden
          type: string
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedWorld'
                type: array
          description: Returns a list of LimitedWorld objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: List Active Worlds
      tags:
      - worlds
      x-accepts: application/json
  /worlds/recent:
    get:
      description: Search and list recently visited worlds by query filters.
      operationId: getRecentWorlds
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: popularity
          description: How to sort
          enum:
          - popularity
          - heat
          - trust
          - shuffle
          - random
          - favorites
          - reportScore
          - reportCount
          - publicationDate
          - labsPublicationDate
          - created
          - _created_at
          - updated
          - _updated_at
          - order
          - relevance
          - magic
          - name
          example: popularity
          title: SortOptions
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          default: descending
          description: Result ordering
          enum:
          - ascending
          - descending
          example: descending
          title: OrderOptions
          type: string
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated).
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          default: hidden
          enum:
          - public
          - private
          - hidden
          example: hidden
          type: string
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Target user to see information on, admin-only.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedWorld'
                type: array
          description: Returns a list of LimitedWorld objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
        "403":
          content:
            application/json:
              examples:
                "403 Only See Own Recents":
                  value:
                    error:
                      message: \"You can only see your own recent worlds!\"
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to accept a see recently visited
            worlds of another user without sufficient admin permissions.
      security:
      - apiKeyCookie: []
        authCookie: []
      summary: List Recent Worlds
      tags:
      - worlds
      x-accepts: application/json
  /worlds/favorites:
    get:
      description: Search and list favorited worlds by query filters.
      operationId: getFavoritedWorlds
      parameters:
      - description: Filters on featured results.
        explode: true
        in: query
        name: featured
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: sort
        required: false
        schema:
          default: popularity
          description: How to sort
          enum:
          - popularity
          - heat
          - trust
          - shuffle
          - random
          - favorites
          - reportScore
          - reportCount
          - publicationDate
          - labsPublicationDate
          - created
          - _created_at
          - updated
          - _updated_at
          - order
          - relevance
          - magic
          - name
          example: popularity
          title: SortOptions
          type: string
        style: form
      - description: The number of objects to return.
        explode: true
        in: query
        name: "n"
        required: false
        schema:
          default: 60
          maximum: 100
          minimum: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: order
        required: false
        schema:
          default: descending
          description: Result ordering
          enum:
          - ascending
          - descending
          example: descending
          title: OrderOptions
          type: string
        style: form
      - description: A zero-based offset from the default object sorting from where
          search results start.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          minimum: 0
          type: integer
        style: form
      - description: Filters by world name.
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: Tags to include (comma-separated).
        explode: true
        in: query
        name: tag
        required: false
        schema:
          type: string
        style: form
      - description: Tags to exclude (comma-separated).
        explode: true
        in: query
        name: notag
        required: false
        schema:
          type: string
        style: form
      - description: Filter by ReleaseStatus.
        explode: true
        in: query
        name: releaseStatus
        required: false
        schema:
          default: hidden
          enum:
          - public
          - private
          - hidden
          example: hidden
          type: string
        style: form
      - description: The maximum Unity version supported by the asset.
        explode: true
        in: query
        name: maxUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The minimum Unity version supported by the asset.
        explode: true
        in: query
        name: minUnityVersion
        required: false
        schema:
          type: string
        style: form
      - description: The platform the asset supports.
        explode: true
        in: query
        name: platform
        required: false
        schema:
          type: string
        style: form
      - description: Target user to see information on, admin-only.
        explode: true
        in: query
        name: userId
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/LimitedWorld'
                type: array
          description: Returns a list of LimitedWorld objects.
        "401":
          content:
            application/json:
              examples:
                Missing Credentials Example:
                  value:
                    error:
                      message: '"Missing Credentials"'
                      status_code: 401
              schema:
                $ref: '#/components/schemas/inline_response_401'
          description: Error response due to missing apiKey or auth cookie.
        "403":
          content:
            application/json:
              examples:
                "404 Cant See Other Users Favorites":
                  value:
                    error:
                      message: 403 You can't see another user's favorites
                      status_code: 403
              schema:
                $ref: '#/components/schemas/Error'
          description: Error response when trying to see favourites of another user
            without sufficient admin permissions.
      security:
      - apiKeyCookie: []
        authCookie: []
[...]
