on:
  repository_dispatch:
    types: [release]
  workflow_dispatch:
    inputs:
      json:
        description: 'Passed json from repository_dispatch'
        required: true
        type: string
      version_postfix:
        description: 'Additional string to concatenate onto the existing version before release'
        required: false
        type: string
        default: ''

name: Generate VRChat API SDK

jobs:
  generate:
    runs-on: ubuntu-latest
    name: Generate VRChat API SDK
    env:
      ARTIFACT_NAME: "openapi.yaml"
      INPUT: ${{ github.event_name == 'repository_dispatch' && toJSON(github.event.client_payload) || inputs.json }}
      SPEC_URL: ${{ (github.event_name == 'repository_dispatch' && github.event.client_payload || fromJSON(inputs.json))['artifacts']['openapi-legacy.yaml'] }}
      PASSED_VERSION: ${{ (github.event_name == 'repository_dispatch' && github.event.client_payload || fromJSON(inputs.json))['version'] }}
      VERSION_POSTPEND: ${{ github.event_name == 'workflow_dispatch' && inputs.version_postfix || '' }}
    steps:
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - uses: actions/checkout@v3

      - name: 'Cache node_modules'
        uses: actions/cache@v3
        with:
          path: node_modules
          key: ${{ runner.os }}-node-v16-${{ hashFiles('**/generate.sh') }}
          restore-keys: |
            ${{ runner.os }}-node-v16

      - name: Install OpenAPI Generator CLI
        run: npm install @openapitools/openapi-generator-cli

      - name: Set OpenAPI Generator version
        run: ./node_modules/\@openapitools/openapi-generator-cli/main.js version-manager set 6.2.1

      - name: Download Specification
        run: wget "${SPEC_URL}" '--output-document' "${ARTIFACT_NAME}"

      - name: Apply Version Postpend
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.version_postfix != '' }}
        run: yq '--inplace' ".info.version |= \"${{ env.PASSED_VERSION}}${{ env.VERSION_POSTPEND }}\"" "${ARTIFACT_NAME}"

      - name: Generate SDK Client
        run: bash ./generate.sh "${ARTIFACT_NAME}"

      - name: Deploy SDK back into main branch and make tag
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: main
          folder: .
          commit-message: "Upgrade Java SDK to spec ${{ env.PASSED_VERSION}}${{ env.VERSION_POSTPEND }}"
          tag: ${{ env.PASSED_VERSION}}${{ env.VERSION_POSTPEND }}

#  gradle:
#    runs-on: ubuntu-latest
#    steps:
#      - uses: actions/checkout@v2
#      - name: Set up JDK 13
#        uses: actions/setup-java@v2
#        with:
#          java-version: '13'
#          distribution: 'adopt'
#      - name: Validate Gradle wrapper
#        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
#      - name: Build with Gradle
#        run: chmod ugo+x gradlew; ./gradlew build
